#
# Synaptics DSX touchscreen driver configuration
#
menuconfig TOUCHSCREEN_GT1X_ZTE
	bool "GT1X touchscreen"
	help
	  Say Y here if you have a Synaptics DSX touchscreen connected
	  to your system.

	  If unsure, say N.

